{% extends 'web/base.html' %}
{% load static %}
{% block content %}

<div class="cs_height_219 cs_height_lg_120"></div>
<!-- Start Bolg Section Title -->
<section>
    <div>
        <div class="container">
            <div class="cs_section_heading cs_style_1 cs_type_1">
                <div class="cs_section_heading_text">
                    <h2 class="cs_section_title anim_heading_title">
                        We always
 think
                    </h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ENd Bolg Section Title -->
<div class="cs_height_100 cs_height_lg_60"></div>

<!-- Start Image card show -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="anim_div_ShowDowns">
                    <a href="blog-details.html" class="cs_blog cs_style_1">
                        <div>
                            <img src="{% static 'web/img/post_1.jpg' %}" alt="post_1" />
                        </div>
                        <div class="cs_blog_info">
                            <h6 class="cs_blog_title">
                                Reasons Business Needs a Agency
                            </h6>
                            <p class="cs_blog_subtitle">
                                The art of creative thinking could be a blog that explores the various ways in which
                                people.
                            </p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 mt-0 mt-md-5">
                <div class="anim_div_ShowDowns">
                    <a href="blog-details.html" class="cs_blog cs_style_1">
                        <div>
                            <img src="{% static 'web/img/post_2.jpg' %}" alt="post_2" />
                        </div>
                        <div class="cs_blog_info">
                            <h6 class="cs_blog_title">
                                Reasons Business Needs a Agency
                            </h6>
                            <p class="cs_blog_subtitle">
                                The art of creative thinking could be a blog that explores the various ways in which
                                people.
                            </p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="anim_div_ShowDowns">
                    <a href="blog-details.html" class="cs_blog cs_style_1">
                        <div>
                            <img src="{% static 'web/img/post_3.jpg' %}" alt="post_3" />
                        </div>
                        <div class="cs_blog_info">
                            <h6 class="cs_blog_title">
                                Reasons Business Needs a Agency
                            </h6>
                            <p class="cs_blog_subtitle">
                                The art of creative thinking could be a blog that explores the various ways in which
                                people.
                            </p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="anim_div_ShowDowns">
                    <a href="blog-details.html" class="cs_blog cs_style_1">
                        <div>
                            <img src="{% static 'web/img/post_4.jpg' %}" alt="post_4" />
                        </div>
                        <div class="cs_blog_info">
                            <h6 class="cs_blog_title">
                                Reasons Business Needs a Agency
                            </h6>
                            <p class="cs_blog_subtitle">
                                The art of creative thinking could be a blog that explores the various ways in which
                                people.
                            </p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 mt-0 mt-md-5">
                <div class="anim_div_ShowDowns">
                    <a href="blog-details.html" class="cs_blog cs_style_1">
                        <div>
                            <img src="{% static 'web/img/post_5.jpg' %}" alt="post_5" />
                        </div>
                        <div class="cs_blog_info">
                            <h6 class="cs_blog_title">
                                Reasons Business Needs a Agency
                            </h6>
                            <p class="cs_blog_subtitle">
                                The art of creative thinking could be a blog that explores the various ways in which
                                people.
                            </p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="anim_div_ShowDowns">
                    <a href="blog-details.html" class="cs_blog cs_style_1">
                        <div>
                            <img src="{% static 'web/img/post_6.jpg' %}" alt="post_6" />
                        </div>
                        <div class="cs_blog_info">
                            <h6 class="cs_blog_title">
                                Reasons Business Needs a Agency
                            </h6>
                            <p class="cs_blog_subtitle">
                                The art of creative thinking could be a blog that explores the various ways in which
                                people.
                            </p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="anim_div_ShowDowns">
                    <a href="blog-details.html" class="cs_blog cs_style_1">
                        <div>
                            <img src="{% static 'web/img/post_7.jpg' %}" alt="post_7" />
                        </div>
                        <div class="cs_blog_info">
                            <h6 class="cs_blog_title">
                                Reasons Business Needs a Agency
                            </h6>
                            <p class="cs_blog_subtitle">
                                The art of creative thinking could be a blog that explores the various ways in which
                                people.
                            </p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 mt-0 mt-md-5">
                <div class="anim_div_ShowDowns">
                    <a href="blog-details.html" class="cs_blog cs_style_1">
                        <div>
                            <img src="{% static 'web/img/post_8.jpg' %}" alt="post_8" />
                        </div>
                        <div class="cs_blog_info">
                            <h6 class="cs_blog_title">
                                Reasons Business Needs a Agency
                            </h6>
                            <p class="cs_blog_subtitle">
                                The art of creative thinking could be a blog that explores the various ways in which
                                people.
                            </p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="anim_div_ShowDowns">
                    <a href="blog-details.html" class="cs_blog cs_style_1">
                        <div>
                            <img src="{% static 'web/img/post_9.jpg' %}" alt="post_9" />
                        </div>
                        <div class="cs_blog_info">
                            <h6 class="cs_blog_title">
                                Reasons Business Needs a Agency
                            </h6>
                            <p class="cs_blog_subtitle">
                                The art of creative thinking could be a blog that explores the various ways in which
                                people.
                            </p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="cs_height_100 cs_height_lg_60"></div>
        <div>
            <div class="cs_hero_btn_wrap text-center">
                <div class="cs_round_btn_wrap">
                    <a href="#" class="cs_hero_btn cs_round_btn btn-item"><span></span> Load More</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Image card show -->

<!-- Start serction about your project. header-->
<section>
    <div class="container">
        <div class="cs_learning_project">
            <div class="cs_section_heading cs_style_1">
                <div class="cs_section_heading_text">
                    <h3 class="cs_section_title_3 anim_heading_title">
We would love to hear more 
 about your project
                    </h3>
                </div>
                <div class="cs_section_heading_right cs_btn_anim">
                    <a href="contact.html" class="cs_btn cs_style_1 cs_color_1">
                        <span>Let’s Talk
                        </span>
                        <svg width="19" height="13" viewBox="0 0 19 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M18.5303 7.03033C18.8232 6.73744 18.8232 6.26256 18.5303 5.96967L13.7574 1.1967C13.4645 0.903806 12.9896 0.903806 12.6967 1.1967C12.4038 1.48959 12.4038 1.96447 12.6967 2.25736L16.9393 6.5L12.6967 10.7426C12.4038 11.0355 12.4038 11.5104 12.6967 11.8033C12.9896 12.0962 13.4645 12.0962 13.7574 11.8033L18.5303 7.03033ZM0 7.25H18V5.75H0V7.25Z"
                                fill="currentColor" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Start serction about your project. header-->

{% endblock %}