{% extends 'web/base.html' %}
{% load static %}
{% block content %}

<div class="cs_height_219 cs_height_lg_120"></div>
<!-- start digital product -->
<section>
    <div class="container">
        <div class="cs_section_heading cs_style_1 cs_type_1">
            <div class="cs_section_heading_text">
                <h2 class="cs_section_title anim_text_writting">
                    Digital Product Design
                </h2>
            </div>
        </div>
        <div class="cs_height_100 cs_height_lg_60"></div>
        <div class="cs_service_details">
            <div class="cs_service_details_img">
                <div class="cs_style_img">
                    <img src="assets/img/service_details_banner.jpg" alt="service_details_banner" />
                </div>
            </div>
            <div class="cs_service_details_text">
                <div class="cs_service_details_p">
                    <p class="anim_text">
                        Welcome to our digital agency! We specialize in helping businesses like yours succeed online.
                        From website design and development to digital marketing and advertising, we have the tools and
                        expertise to elevate your online presence. Let us help you lione
                        evolving world of digita
                    </p>
                    <ul class="anim_div_ShowDowns">
                        <li>Design Welcome to our digital agency!</li>

                        <li>Dev online. From website design</li>

                        <li>Implementation evolving world of digital to driv</li>

                        <li>Launch growth and reach your goals.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end digital product -->
<div class="cs_height_150 cs_height_lg_50"></div>

<!-- start Our Working Process -->
<section>
    <div class="container">
        <div class="cs_work cs_work_text">
            <h4 class="anim_heading_title">
                Specialization & Working Process
            </h4>
            <p class="cs_mp0 anim_text">
                Welcome to our digital agency! We specialize in helping businesses like yours succeed online. From
                website design and development to digital marketing and advertising, we have the tools and expertise to
                elevate your online presence.
            </p>
        </div>
        <div class="cs_height_80 cs_height_lg_40"></div>
        <!-- start working slider -->
        <div>
            <div class="cs_work cs_work_1">
                <div class="cs_card_work cs_style_1">
                    <div class="cs_card cs_mt_nthchild_0 anim_div_ShowLeftSide">
                        <div class="cs_card cs_style_1">
                            <div class="cs_posagation">
                                <div class="cs_work_style_1"></div>
                                <div class="cs_work_style_2"></div>
                            </div>
                            <div class="cs_stroke_number">
                                <span>one</span>
                            </div>
                        </div>

                        <h6 class="cs_work_title">Understand</h6>
                        <p class="cs_work_subtitle">
                            Welcome to our digital agency We specialize in helping your business most
                        </p>
                    </div>
                    <div class="cs_card cs_mt_nthchild_0 anim_div_ShowLeftSide">
                        <div class="cs_card cs_style_1">
                            <div class="cs_posagation">
                                <div class="cs_work_style_1"></div>
                                <div class="cs_work_style_2"></div>
                            </div>
                            <div class="cs_stroke_number">
                                <span>Two</span>
                            </div>
                        </div>

                        <h6 class="cs_work_title">Design</h6>
                        <p class="cs_work_subtitle">
                            Welcome to our digital agency We specialize in helping your business most
                        </p>
                    </div>
                    <div class="cs_card cs_mt_nthchild_0 anim_div_ShowLeftSide">
                        <div class="cs_card cs_style_1">
                            <div class="cs_posagation">
                                <div class="cs_work_style_1"></div>
                                <div class="cs_work_style_2"></div>
                            </div>
                            <div class="cs_stroke_number">
                                <span>Three</span>
                            </div>
                        </div>

                        <h6 class="cs_work_title">Development</h6>
                        <p class="cs_work_subtitle">
                            Welcome to our digital agency We specialize in helping your business most
                        </p>
                    </div>
                    <div class="cs_card cs_mt_nthchild_0 anim_div_ShowLeftSide">
                        <div class="cs_card cs_style_1">
                            <div class="cs_posagation">
                                <div class="cs_work_style_1"></div>
                                <div class="cs_work_style_2"></div>
                            </div>
                            <div class="cs_stroke_number">
                                <span>Four</span>
                            </div>
                        </div>

                        <h6 class="cs_work_title">Testing</h6>
                        <p class="cs_work_subtitle">
                            Welcome to our digital agency We specialize in helping your business most
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- end working slider -->
    </div>
</section>
<!-- end Our Working Process -->
<div class="cs_height_150 cs_height_lg_60"></div>

<!-- imgeas show-->
<div class="container">
    <div class="d-flex gap-2 gap-md-5">
        <div>
            <img src="assets/img/service_slider_1.jpg" alt="" />
        </div>
        <div>
            <img src="assets/img/service_slider_2.jpg" alt="" />
        </div>
    </div>
</div>
<!-- End service_slider-->
<div class="cs_height_150 cs_height_lg_60"></div>

<!-- Start Others Services List -->
<div class="container">
    <div class="cs_service_details cs_type_2">
        <div class="cs_service_details_img">
            <div class="cs_accordeon">
                <div class="cs_accordion_item">
                    <div class="cs_accordion_header">
                        <p class="cs_accordion_title cs_m0" id="headingOne">
                            What is the design process for branding?
                        </p>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" width="30">
                            <path style="fill: #000"
                                d="m17.5 5.999-.707.707 5.293 5.293H1v1h21.086l-5.294 5.295.707.707L24 12.499l-6.5-6.5z"
                                data-name="Right" />
                        </svg>
                    </div>

                    <div class="cs_accordion_body">
                        Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it
                        is pain, but because occasionally circumstances occur in which and pain can procure him some
                        great pleasure. To take a trivial example, which of us ever undertakes
                        laborious physical exercise, except to obtain advantage from it? But who has any right to find
                        fault with a man who chooses to enjoy a pleasure that has no annoying conse quences lalin karar
                        or one avoids a pain that produces
                        no resultant pleasure.
                    </div>
                </div>
                <div class="cs_accordion_item">
                    <div class="cs_accordion_header">
                        <p class="cs_accordion_title cs_m0" id="headingTwo">
                            What services does your agency offer?
                        </p>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" width="30">
                            <path style="fill: #000"
                                d="m17.5 5.999-.707.707 5.293 5.293H1v1h21.086l-5.294 5.295.707.707L24 12.499l-6.5-6.5z"
                                data-name="Right" />
                        </svg>
                    </div>

                    <div class="cs_accordion_body">
                        Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it
                        is pain, but because occasionally circumstances occur in which and pain can procure him some
                        great pleasure. To take a trivial example, which of us ever undertakes
                        laborious physical exercise, except to obtain advantage from it? But who has any right to find
                        fault with a man who chooses to enjoy a pleasure that has no annoying conse quences lalin karar
                        or one avoids a pain that produces
                        no resultant pleasure.
                    </div>
                </div>
                <div class="cs_accordion_item">
                    <div class="cs_accordion_header">
                        <p class="cs_accordion_title cs_m0" id="headingThree">
                            How do you approach a new project?
                        </p>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" width="30">
                            <path style="fill: #000"
                                d="m17.5 5.999-.707.707 5.293 5.293H1v1h21.086l-5.294 5.295.707.707L24 12.499l-6.5-6.5z"
                                data-name="Right" />
                        </svg>
                    </div>

                    <div class="cs_accordion_body">
                        Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it
                        is pain, but because occasionally circumstances occur in which and pain can procure him some
                        great pleasure. To take a trivial example, which of us ever undertakes
                        laborious physical exercise, except to obtain advantage from it? But who has any right to find
                        fault with a man who chooses to enjoy a pleasure that has no annoying conse quences lalin karar
                        or one avoids a pain that produces
                        no resultant pleasure.
                    </div>
                </div>
                <div class="cs_accordion_item">
                    <div class="cs_accordion_header">
                        <p class="cs_accordion_title cs_m0" id="headingFour">
                            How do you handle revisions or changes to a project?
                        </p>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" width="30">
                            <path style="fill: #000"
                                d="m17.5 5.999-.707.707 5.293 5.293H1v1h21.086l-5.294 5.295.707.707L24 12.499l-6.5-6.5z"
                                data-name="Right" />
                        </svg>
                    </div>

                    <div class="cs_accordion_body">
                        Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it
                        is pain, but because occasionally circumstances occur in which and pain can procure him some
                        great pleasure. To take a trivial example, which of us ever undertakes
                        laborious physical exercise, except to obtain advantage from it? But who has any right to find
                        fault with a man who chooses to enjoy a pleasure that has no annoying conse quences lalin karar
                        or one avoids a pain that produces
                        no resultant pleasure.
                    </div>
                </div>
            </div>
        </div>
        <div class="cs_service_details_text">
            <div class="cs_specialization cs_section_heading cs_style_1">
                <div class="cs_section_heading_text">
                    <h4 class="cs_section_title_4">Others Services List</h4>
                </div>

                <p>
                    Welcome to our digital agency! We specialize in helping businesses like yours succeed online. From
                    website design and development to digital marketing and advertising, we have the tools and expertise
                    to elevate your online presence.
                </p>
                <div>
                    <ul>
                        <li>Web Design & Development</li>
                        <li>Digital Marketing</li>
                        <li>Android & IOS Development</li>
                        <li>Digital Business Development</li>
                        <li>Web Design & Development</li>
                        <li>Digital Marketing</li>
                    </ul>
                </div>
            </div>
            <div class="cs_back_to_services_btn">
                <a href="#" class="cs_style_1 cs_color_1">
                    <span>Back To Services Page</span>
                    <svg width="19" height="13" viewBox="0 0 19 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M18.5303 7.03033C18.8232 6.73744 18.8232 6.26256 18.5303 5.96967L13.7574 1.1967C13.4645 0.903806 12.9896 0.903806 12.6967 1.1967C12.4038 1.48959 12.4038 1.96447 12.6967 2.25736L16.9393 6.5L12.6967 10.7426C12.4038 11.0355 12.4038 11.5104 12.6967 11.8033C12.9896 12.0962 13.4645 12.0962 13.7574 11.8033L18.5303 7.03033ZM0 7.25H18V5.75H0V7.25Z"
                            fill="currentColor"></path>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- End Others Services List -->

<!-- start cta -->
<section>
    <div class="container">
        <div class="cs_learning_project">
            <div class="cs_section_heading cs_style_1">
                <div class="cs_section_heading_text anim_heading_title">
                    <h3 class="cs_section_title_3">
                        We'd be interested in learning more about your project.
                    </h3>
                </div>
                <div class="cs_section_heading_right cs_btn_anim">
                    <a href="contact.html" class="cs_btn cs_style_1 cs_color_1">
                        <span>Contact Us</span>
                        <svg width="19" height="13" viewBox="0 0 19 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M18.5303 7.03033C18.8232 6.73744 18.8232 6.26256 18.5303 5.96967L13.7574 1.1967C13.4645 0.903806 12.9896 0.903806 12.6967 1.1967C12.4038 1.48959 12.4038 1.96447 12.6967 2.25736L16.9393 6.5L12.6967 10.7426C12.4038
                    11.0355 12.4038 11.5104 12.6967 11.8033C12.9896 12.0962 13.4645 12.0962 13.7574 11.8033L18.5303 7.03033ZM0 7.25H18V5.75H0V7.25Z"
                                fill="currentColor" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end cta -->
{% endblock %}